%section
  %header
    %form.form-horizontal
      %h3 Your BytesizeURL
      <br>
      %p.full_url "#{@url.full_url}"
      %p has been Bytesized as the following shortened URL:
      <br>
      .well.url
        %h4
          = link_to add_url_prefix(@url.short_path), add_url_prefix(@url.short_path)
        %a(href=home_page_path) Go Back to Homepage
