%section
  %header
    %form.form-horizontal
      %h3 A BytesizeURL was created!
      <br>
      %p "https://example.com/someroute/somenestedroute/1232456" has been Bytesized as the following shortened URL:
      <br>
      .well
        %h4 https://bytesizeurl.herokuapp.com/a

%a(href="#") Go to Home Page
